
.inputBox{
    position: relative;
    flex-basis: 250px;
    
}

.inputBox >input{
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid ;
}

 .inputBox >ion-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
 }