.inputBox{
    position: relative;
    flex-basis: 450px;
    
}

.inputBox >input{
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid ;
}

/* .inputBox > input:focus{
    width: 100%;
} */

 .inputBox >ion-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
 }