
.inputBox{
    position: relative;
    flex-basis: 380px;
    
}

.inputBox >input{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid gray ;
}

 .inputBox >ion-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
 }

 /* RESPONSIVENESS */

 @media only screen and (max-width:600px){
    .inputBox{
        flex-basis: 500px;
        
    }

    .inputBox >input{
        width: 200%;
    }
}