:global(.header-list) {
  display: flex;
  gap: 10px;
  list-style: none;
}

:global(.header-list) :hover{
    background-color: #3e5af8;
    color: white;
    border-radius: 6px;
    padding: 1px;
}

:global(.header-icons){
    display:flex;
    gap: 10px;
}

:global(.header-container){
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}





:global(.bigsection-container){
    display: flex;
    flex-direction: column;
    gap: 10px;
}

:global(.icons-container){
    display: flex;
    justify-content: space-between;
}

:globa(.icons){
    display: flex;
    gap: 20px;
}
    
:global(.available){
    display: flex;
    justify-content: space-between;
}
:global(.available)>div{
    display: flex;
    gap: 3px;
}

:global(.main){
    word-spacing: 10px;
    display: flex;
    border: 2px solid rgb(0, 255, 76);
    margin-bottom: 20px;
    height: 100vh;
    width: 100%;
}

:global(.main-1st){
    line-height: 15px;
   

}

:global(.main-1st)>img{
    width: 100%;
    height: 80%;
}


:global(.aside-section-container){
    display: flex;
}


